.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.box:hover {
  box-shadow: 0px 0px 5px #ccc;
}
